.kbbotContainer{
    width:400px;
    margin: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top:4%;
    box-shadow: 4px 7px 16px grey;
    position: fixed;
    right: 0;
    bottom: 0;

}

.widgetOpen{
    display: initial;
}

.widgetClose{
    display: none;
}