.widUserInput{
    width: 99%;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    padding: 6px 0 7px;
    min-width: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
    display: block;
    font-size: medium;
    border-top: 1px solid #a3a3a3;
    background-color: #f6f7f9;
    
}